{% extends "base.html" %}
{% block title %}Seat control{% endblock %}
{% block head %}
  {{ super() }}
    <style>
        .form-container {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 180px); /* Adjusted height */
        }
        .form-control {
            flex-grow: 1;
            resize: vertical;
            width: 100%; /* Fill available width */
        }
    </style>
{% endblock %}
{% block content %}
    <h3>Multimedia control</h3>
    <div class="button-container">
        <form method="get" action="/play">
            <button class="btn btn-primary btn-sm" type="submit" name="action" value="play">Play</button>
        </form>
        <form method="get" action="/stop">
            <button class="btn btn-secondary btn-sm" type="submit" name="action" value="stop">Stop</button>
        </form>
        <form method="get" action="/next">
            <button class="btn btn-success btn-sm" type="submit" name="action" value="next">Next</button>
        </form>
        <form method="get" action="/prev">
            <button class="btn btn-success btn-sm" type="submit" name="action" value="prev">Previous</button>
        </form>
    </div>

    <h3>System control</h3>
        <div class="button-container">
        <form method="get" action="/quit">
            <button class="btn btn-danger btn-sm" type="submit" name="action" value="quit">Quit services</button>
        </form>
        <form method="get" action="/force_restart">
            <button class="btn btn-danger btn-sm" type="submit" name="action" value="force_restart">Kill services</button>
        </form>
        <form method="get" action="/shutdown_computer">
            <button class="btn btn-danger btn-sm" type="submit" name="action" value="force_restart">Shutdown Pi</button>
        </form>
    </div>
{% endblock %}
