{% extends "base.html" %}
{% block title %}Seat status{% endblock %}
{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}
  <h2>MQTT messages (last 10 per topic)</h2>
  {% for topic in mqtt_messages | sort %}
  <h3>{{ topic }}</h3>
  <ul class="list-group list-group-flush">
  {% for key, value in mqtt_messages[topic].items() | reverse %}
    <li class="list-group-item">{{ key | strftime }}: {{ value.decode('utf-8') }}</li>
  {% endfor %}
  </ul>
  {% endfor %}

  <h2>Scenes</h2>
  {% if 'scenes' in config_content %}
  <ul class="list-group list-group-flush">
  {% for scene in config_content.scenes %}
  <li class="list-group-item">{{ loop.index - 1 }}: {{ scene.name }} ({{ scene.file }}, {{ scene.duration }} seconds)</li>
  {% endfor %}
  </ul>
  {% endif %}
  <script>
      function checkRouteAvailability() {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '{{ url_for('status') }}', true);
          xhr.onload = function() {
              if (xhr.status == 200) {
                  location.reload();
              } else {
                  setTimeout(checkRouteAvailability, 5000);
              }
          };
          xhr.onerror = function() {
              setTimeout(checkRouteAvailability, 5000);
          };
          xhr.send();
      }
      setTimeout(checkRouteAvailability, 5000);
  </script>
{% endblock %}
