{% extends "base.html" %}
{% block title %}Please wait{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <script>
        function checkRouteAvailability() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{{ url_for('index') }}', true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    window.location.assign("{{ url_for('index') }}");
                } else {
                    setTimeout(checkRouteAvailability, 5000);
                }
            };
            xhr.onerror = function() {
                setTimeout(checkRouteAvailability, 5000);
            };
            xhr.send();
        }
        setTimeout(checkRouteAvailability, 5000);
    </script>
{% endblock %}
