---
videoplayer:
  media_path: /home/{{ target_user }}/media/
  rc_socket: /tmp/vlc_rc.sock

webui:
  user: admin
  password: super_secret

i2c:
  input:
    play:
      address: 0x27
      pin: 0
    stop:
      address: 0x27
      pin: 1
    next:
      address: 0x27
      pin: 2
    prev:
      address: 0x27
      pin: 3
    shutdown:
      address: 0x27
      pin: 4

  output:
    fan1:
      address: 0x23
      pin: 0
    fan2:
      address: 0x23
      pin: 1
    massage:
      address: 0x23
      pin: 2
    heat1:
      address: 0x23
      pin: 3
    heat2:
      address: 0x23
      pin: 4

  arduino_devices:
    arduino1_output1:
      address: 0x20
      pin: 0
    arduino1_output2:
      address: 0x20
      pin: 1
    arduino2_output1:
      address: 0x21
      pin: 0
    arduino2_output2:
      address: 0x21
      pin: 1

wled:
  settings:
    transition: 5 # 5 = 0.5 seconds

  devices:
    - chair

  colors:
    orange_warm: [[255, 140, 0], [0, 0, 0], [0, 0, 0]]
    orange_dark: [[255, 50, 0], [0, 0, 0], [0, 0, 0]]

  macros:
    strip_off:
      strip_on: false
      brightness: 255
      color: orange_warm
      effect_id: 0
      speed: 128
      intensity: 255
    orange_warm:
      strip_on: true
      brightness: 255
      color: orange_warm
      effect_id: 0
      speed: 128
      intensity: 255
    orange_dark:
      strip_on: true
      brightness: 255
      color: orange_dark
      effect_id: 5
      speed: 200
      intensity: 180

novastar:
  controller_ip: 192.168.1.42
  controller_port: 5200

idle:
  file: idle.mp4
  i2c_outputs:
    massage: false
    heat1: false
    heat2: false
  arduino_outputs:
    arduino1_output1: 0
    arduino1_output2: 0
  wled_outputs:
    0: strip_off
    1: strip_off
    novastar_output: 1

scenes:
  - name: desert
    file: desert.mp4
    image: desert_inactive.jpg
    image_active: desert_active.jpg
    duration: 30.321
    timed_outputs:
      - start_time: 0.0
        i2c_outputs:
          massage: true
          heat1: false
          heat2: true
        arduino_outputs:
          arduino1_output1: 129
          arduino1_output2: 255
        wled_outputs:
          0: orange_warm
          1: orange_dark
        novastar_output: 2
      - start_time: 10.2
        i2c_outputs:
          massage: true
          heat1: true
          heat2: false
        arduino_outputs:
          arduino1_output1: 90
          arduino1_output2: 100
        wled_outputs:
          0: orange_warm
          1: orange_dark
      - start_time: 20.3
        arduino_outputs:
          arduino1_output1: 10
          arduino1_output2: 60

  - name: ice
    file: ice.mp4
    image: ice_inactive.jpg
    image_active: ice_active.jpg
    duration: 10.13
    timed_outputs:
      - start_time: 0.0
        i2c_outputs:
          massage: true
          heat1: false
          heat2: true
        arduino_outputs:
          arduino1_output1: 129
          arduino1_output2: 255
        wled_outputs:
          0: orange_warm
          1: orange_dark
        novastar_output: 3
      - start_time: 3.2
        i2c_outputs:
          massage: true
          heat1: true
          heat2: false
        arduino_outputs:
          arduino1_output1: 90
          arduino1_output2: 100
        wled_outputs:
          0: orange_warm
          1: orange_dark
      - start_time: 6.2
        arduino_outputs:
          arduino1_output1: 10
          arduino1_output2: 60

  - name: jungle
    file: jungle.mp4
    image: jungle_inactive.jpg
    image_active: jungle_active.jpg
    duration: 15.06
    timed_outputs:
      - start_time: 0.0
        i2c_outputs:
          massage: true
          heat1: false
          heat2: true
        arduino_outputs:
          arduino1_output1: 129
          arduino1_output2: 255
        wled_outputs:
          0: orange_warm
          1: orange_dark
        novastar_output: 4
      - start_time: 3.2
        i2c_outputs:
          massage: true
          heat1: true
          heat2: false
        arduino_outputs:
          arduino1_output1: 90
          arduino1_output2: 100
        wled_outputs:
          0: orange_warm
          1: orange_dark
      - start_time: 10.7
        arduino_outputs:
          arduino1_output1: 10
          arduino1_output2: 60
