# {{ ansible_managed }}
[Unit]
Description=PiExperience Chair webui module

[Service]
ExecStart={{ target_directory }}/venv/bin/python3 {{ target_directory }}/src/webui.py
WorkingDirectory={{ target_directory }}
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=piexpchair_webui
NotifyAccess=all
User={{ target_user }}
Group={{ target_user }}
Nice=1

[Install]
WantedBy=multi-user.target
