# {{ ansible_managed }}
[Unit]
Description=PiExperience Chair watchdog module

[Service]
ExecStart=/usr/bin/bash /usr/local/bin/piexpchair_watchdog.sh
WorkingDirectory={{ target_directory }}
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=piexpchair_watchdog
NotifyAccess=all
User={{ target_user }}
Group={{ target_user }}
Nice=1

[Install]
WantedBy=multi-user.target
