#!/bin/bash
# {{ ansible_managed }}

# My user: {{ target_user }}
# My target directory: {{ target_directory }}

KILL_FILE="{{ target_directory }}/tmp/force_restart"

while true;
do
  if [ -f "$KILL_FILE" ];
  then
    echo "Found killfile $KILL_FILE, restarting all services"
    systemctl stop piexpchair_videoplayer.service
    systemctl stop piexpchair_i2c.service
    systemctl stop piexpchair_webui.service
    killall vlc
    sleep 5
    systemctl start piexpchair_webui.service
    systemctl start piexpchair_i2c.service
    systemctl start piexpchair_videoplayer.service
    rm $KILL_FILE
  else
    sleep 1
  fi
done
