#!/bin/bash
# {{ ansible_managed }}

echo "Trigger the watchdog to restart all daemons once vlc is started"
echo "System startup daemon reload requested" > {{ target_directory }}/tmp/force_restart
echo "Wait 5 seconds for audio devices to be ready"
sleep 5
clear

while true;
do
  echo "$(date) Starting VLC"
  if [ -f "{{ target_directory }}/tmp/vlc_debug" ];
  then
    VLC_DEBUG="--logfile=/tmp/vlc.log --log-verbose=3"
  else
    VLC_DEBUG=""
  fi
  /usr/bin/vlc --fullscreen --no-video-title-show --quiet-synchro --no-qt-fs-controller --disable-screensaver -I oldrc --rc-unix /tmp/vlc_rc.sock --alsa-audio-device hw:0,0 "$VLC_DEBUG"
  echo "$(date) VLC ended. Restarting it in 1 second."
  sleep .1
done
